<!DOCTYPE html>
<html lang="en" dir="ltr">
  <body>
    <div>
      <section class="form-register">
        <h5>Crear Cuenta</h5>
        <input class="controls" type="email" name="email" value="" placeholder="Email">
        <input class="controls" type="text" name="usuario" value="" placeholder="Usuario">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Contraseña">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Confirmar Contraseña">
       <input class="buttons" type="submit" name="" value="Ingresar">
       <p><a href="#">¿Olvidaste tu contraseña?</a></p>
      </section>
    </div>
  </body>
</html>
