<div class="container">
    <div class="texto">
      <h2>Agenda de Contactos</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Amet dicta explicabo est reprehenderit a maiores dolor dolorem consequatur,
      numquam laboriosam quisquam. Quae alias vitae
      at incidunt facilis itaque accusamus eum.</p>
    </div>
</div>

<div class="container">
    <div class="texto">
      <a href="#" [routerLink]="['/login']">Click si ya tienes cuenta</a>
    </div>
</div>

<footer>
  <div class="container">
    <p>&copy; Todos los derechos reservados</p>
  </div>
</footer>
