<div class="title">
    <h2> Agregar Contacto</h2>
</div>


<div class="contact_form">    
        <h1>Datos del contacto</h1>
        <form>       
            <p>
                <label>Nombre</label>
                <input formControlName="name" placeholder="Escribe tu nombre">
            </p>
            <p>
                <label>Teléfono</label>
                <input formControlName="number" placeholder="Escribe tu teléfono">
            </p>  
            <p>
                <label>Email</label>
                <input formControlName="email" placeholder="Escribe tu Email">
            </p>
            <button type="submit">Enviar</button> 
        </form>
</div>


